<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sistem Klasifikasi Penyakit pada Padi</title>

  <link rel="stylesheet" href="{{ url_for('assets', path='vendor/bulma/bulma.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('assets', path='vendor/lightbox/css/lightbox.min.css') }}">
</head>

<body>
  <section class="section">
    <!-- Boxed, Centered Form -->
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <!-- End Boxed, Centered Form -->
  </section>

  <script src="{{ url_for('assets', path='vendor/lightbox/js/lightbox-plus-jquery.min.js') }}"></script>
  {% block scripts %}{% endblock %}
  <script>
    // lightbox
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'disableScrolling': true
    });

    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

  </script>
</body>

<!--
  Path: app/templates/index.html
  Made with ❤️

  Sources:
  - https://bulma.io
  - https://css.gg
  - https://lokeshdhakar.com/projects/lightbox2/
  - https://unsplash.com/photos/4Fzp6z40Jhs
-->

</html>
